.containerForImage {
	position: relative;
}
.heroSectionContainer {
	background-color: var(--mediumColour);
	color: var(--lightColour);
	padding-left: 12rem;
	padding-top: 18rem;
	height: 85rem;
}

.heroSectionTagLine {
	width: 18ch;
	font-size: 6.8rem;
	font-weight: 500;
}

.greetPhraseContainer {
	display: flex;
	margin-top: 4rem;
	padding-top: 1rem;
}
.greetPhraseContainer > * {
	padding-right: 2ch;
}
.greetPhraseContainer svg {
	min-height: 3.4rem;
	min-width: 3.4rem;
}
.greetPhrase {
	font-size: 3rem;
	font-weight: 500;
}
.callToAction {
	margin-top: 5rem;
	padding-top: 1.5rem;
	width: 4rem;
	height: 10rem;
}
.circle {
	animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
	from {
		transform: translateY(0px);
		z-index: 0.5rem;
	}
	to {
		transform: translateY(-5.2rem);
	}
}
.landingPageImageContainer {
	position: absolute;
	top: 18rem;
	right: 28rem;
}
.landingPageImage {
	height: 55rem;
	width: 59rem;
}
