:root {
	--lightColour: #fbfbfc;
	--mediumColour: #562fc7;
	--darkestColour: #350b6f;
}

@font-face {
	font-family: 'azonix';
	src: local('azonix'),
		url(./resources/fonts/azonix/Azonix-1VB0.otf) format('truetype');
}
@font-face {
	font-family: 'linLibertine';
	src: local('linLibertine'),
		url(./resources/fonts/linux_libertine/LinLibertine_R.ttf) format('truetype');
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	/* 1rem = 10px */
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
body {
	margin: 0;
	font-family: linLibertine, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--lightColour);
}
/*
#fbfbfc : filter: invert(100%) sepia(41%) saturate(1011%) hue-rotate(180deg) brightness(103%) contrast(98%);
#350b6f : filter: invert(11%) sepia(43%) saturate(6156%) hue-rotate(261deg) brightness(84%) contrast(109%);

#562fc7 : filter: invert(20%) sepia(92%) saturate(2797%) hue-rotate(250deg) brightness(78%) contrast(99%);
*/
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.grid-gap20 {
	grid-gap: 2rem;
}
@media (max-width: 360px) {
	.grid-column1-small {
		grid-column: span 1;
	}
	.grid-column2-small {
		grid-column: span 2;
	}
	.grid-column3-small {
		grid-column: span 3;
	}
	.grid-column4-small {
		grid-column: span 4;
	}
	.grid-column5-small {
		grid-column: span 5;
	}
	.grid-column6-small {
		grid-column: span 6;
	}
	.grid-column7-small {
		grid-column: span 7;
	}
	.grid-column8-small {
		grid-column: span 8;
	}
	.grid-column9-small {
		grid-column: span 9;
	}
	.grid-column10-small {
		grid-column: span 10;
	}
	.grid-column11-small {
		grid-column: span 11;
	}
	.grid-column12-small {
		grid-column: span 12;
	}
}
@media (min-width: 360px) and (max-width: 768px) {
	.grid-column1-medium {
		grid-column: span 1;
	}
	.grid-column2-medium {
		grid-column: span 2;
	}
	.grid-column3-medium {
		grid-column: span 3;
	}
	.grid-column4-medium {
		grid-column: span 4;
	}
	.grid-column5-medium {
		grid-column: span 5;
	}
	.grid-column6-medium {
		grid-column: span 6;
	}
	.grid-column7-medium {
		grid-column: span 7;
	}
	.grid-column8-medium {
		grid-column: span 8;
	}
	.grid-column9-medium {
		grid-column: span 9;
	}
	.grid-column10-medium {
		grid-column: span 10;
	}
	.grid-column11-medium {
		grid-column: span 11;
	}
	.grid-column12-medium {
		grid-column: span 12;
	}
}
@media (min-width: 768px) {
	.grid-column1-large {
		grid-column: span 1;
	}
	.grid-column2-large {
		grid-column: span 2;
	}
	.grid-column3-large {
		grid-column: span 3;
	}
	.grid-column4-large {
		grid-column: span 4;
	}
	.grid-column5-large {
		grid-column: span 5;
	}
	.grid-column6-large {
		grid-column: span 6;
	}
	.grid-column7-large {
		grid-column: span 7;
	}
	.grid-column8-large {
		grid-column: span 8;
	}
	.grid-column9-large {
		grid-column: span 9;
	}
	.grid-column10-large {
		grid-column: span 10;
	}
	.grid-column11-large {
		grid-column: span 11;
	}
	.grid-column12-large {
		grid-column: span 12;
	}
}
.logoText {
	width: 7ch;
}
.heroSectionTagLine {
	width: 11ch;
}
.projectDescription {
	width: 50ch;
}
.skillDescription {
	width: 25ch;
}
.circle {
	animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
	from {
		transform: translateY(0px);
		z-index: 0.5rem;
	}
	to {
		transform: translateY(-5.2rem);
	}
}
