:root {
	--lightColour: #fbfbfc;
	--mediumColour: #562fc7;
	--darkestColour: #350b6f;
}

@font-face {
	font-family: 'azonix';
	src: local('azonix'),
		url(./resources/fonts/azonix/Azonix-1VB0.otf) format('truetype');
}
@font-face {
	font-family: 'linLibertine';
	src: local('linLibertine'),
		url(./resources/fonts/linux_libertine/LinLibertine_R.ttf) format('truetype');
}
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	/* 1rem = 10px */
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
body {
	margin: 0;
	font-family: linLibertine, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--lightColour);
}
/*
#fbfbfc : filter: invert(100%) sepia(41%) saturate(1011%) hue-rotate(180deg) brightness(103%) contrast(98%);
#350b6f : filter: invert(11%) sepia(43%) saturate(6156%) hue-rotate(261deg) brightness(84%) contrast(109%);

#562fc7 : filter: invert(20%) sepia(92%) saturate(2797%) hue-rotate(250deg) brightness(78%) contrast(99%);
*/
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.grid-gap20 {
	grid-gap: 2rem;
}

.grid-column1 {
	grid-column: span 1;
}
.grid-column2 {
	grid-column: span 2;
}
.grid-column3 {
	grid-column: span 3;
}
.grid-column4 {
	grid-column: span 4;
}
.grid-column5 {
	grid-column: span 5;
}
.grid-column6 {
	grid-column: span 6;
}
.grid-column7 {
	grid-column: span 7;
}
.grid-column8 {
	grid-column: span 8;
}
.grid-column9 {
	grid-column: span 9;
}
.grid-column10 {
	grid-column: span 10;
}
.grid-column11 {
	grid-column: span 11;
}
.grid-column12 {
	grid-column: span 12;
}
.grid-column-display-none {
	display: none;
}
@media screen and (max-width: 480px) {
	.grid-column1-mobile {
		grid-column: span 1;
	}
	.grid-column2-mobile {
		grid-column: span 2;
	}
	.grid-column3-mobile {
		grid-column: span 3;
	}
	.grid-column4-mobile {
		grid-column: span 4;
	}
	.grid-column5-mobile {
		grid-column: span 5;
	}
	.grid-column6-mobile {
		grid-column: span 6;
	}
	.grid-column7-mobile {
		grid-column: span 7;
	}
	.grid-column8-mobile {
		grid-column: span 8;
	}
	.grid-column9-mobile {
		grid-column: span 9;
	}
	.grid-column10-mobile {
		grid-column: span 10;
	}
	.grid-column11-mobile {
		grid-column: span 11;
	}
	.grid-column12-mobile {
		grid-column: span 12;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.grid-column1-tablet {
		grid-column: span 1;
	}
	.grid-column2-tablet {
		grid-column: span 2;
	}
	.grid-column3-tablet {
		grid-column: span 3;
	}
	.grid-column4-tablet {
		grid-column: span 4;
	}
	.grid-column5-tablet {
		grid-column: span 5;
	}
	.grid-column6-tablet {
		grid-column: span 6;
	}
	.grid-column7-tablet {
		grid-column: span 7;
	}
	.grid-column8-tablet {
		grid-column: span 8;
	}
	.grid-column9-tablet {
		grid-column: span 9;
	}
	.grid-column10-tablet {
		grid-column: span 10;
	}
	.grid-column11-tablet {
		grid-column: span 11;
	}
	.grid-column12-tablet {
		grid-column: span 12;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.grid-column1-laptop {
		grid-column: span 1;
	}
	.grid-column2-laptop {
		grid-column: span 2;
	}
	.grid-column3-laptop {
		grid-column: span 3;
	}
	.grid-column4-laptop {
		grid-column: span 4;
	}
	.grid-column5-laptop {
		grid-column: span 5;
	}
	.grid-column6-laptop {
		grid-column: span 6;
	}
	.grid-column7-laptop {
		grid-column: span 7;
	}
	.grid-column8-laptop {
		grid-column: span 8;
	}
	.grid-column9-laptop {
		grid-column: span 9;
	}
	.grid-column10-laptop {
		grid-column: span 10;
	}
	.grid-column11-laptop {
		grid-column: span 11;
	}
	.grid-column12-laptop {
		grid-column: span 12;
	}
}
